.headr-h{
	font-family: 'Josefin Sans', sans-serif;

}
#my-projects-div{
	margin: 0 auto;
	width: 100%;
	
}
.projects-img{
	width:100%;
	height: 20vh;
	align-content:left;
}
.p1{
	width: 100%;
	text-align:center;
	
}
footer{
	padding: 5px;
	font-size: 11px;
}
#icon{
	width:10vw;
}
#logo{
	align-content:left;
}
#projects-header{
	text-align: center;
}
#my-info{
	text-align: right;
	
}
#web-img{
height: 68vh;
width: 100%;
		
}
.box{
	display: block;
	height: 20vh;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
}
body {
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  color: #555;
  width: 100%;
  margin: 0 auto;
}
#container{
	font-size: 15px;
}
@media only screen and (min-width:200px) and (max-width: 220px) {
	#icon{
		width: 70%;
		
	}
	#web-img{
		height: 70vh;
		width: 50wh;	
}
#headr-h-h1{
	width: 70%;
}
#headr-h-h2{
	width: 70%;
}	

}
